language: python

matrix:
    include:
        - python: 3.5
          env: TOXENV=py35
        - python: 3.6
          env: TOXENV=py36
        - python: pypy3
          env: TOXENV=pypy3

install:
  - pip install -U setuptools pip
  - pip install tox
  - pip install codecov
  - pip install sphinx

script: "tox -- -rs"

after_success:
  - codecov
  - chmod a+x ./.travis/deploy_docs.sh
  - ./.travis/deploy_docs.sh
